html, body{
    margin: 0;
    height: 100%;
    background-image: url(../images/cup.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.container{
height: 100%;
align-content: center;
}

.cancel_btn{
margin-left: 100px;
margin-right: 120px;
color: black;
width: 100px;
}